<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<EbayEnterprise_Display>
			<version>1.0.0.0</version>
		</EbayEnterprise_Display>
	</modules>
	<global>
		<blocks>
			<display>
				<class>EbayEnterprise_Display_Block</class>
			</display>
		</blocks>
		<helpers>
			<display>
				<class>EbayEnterprise_Display_Helper</class>
			</display>
		</helpers>
		<models>
			<display>
				<class>EbayEnterprise_Display_Model</class>
			</display>
		</models>
	</global>
	<frontend>
		<layout>
			<updates>
				<display>
					<file>display.xml</file>
				</display>
			</updates>
		</layout>
	</frontend>
	<adminhtml>
		<layout>
			<updates>
				<display>
					<file>display.xml</file>
				</display>
			</updates>
		</layout>
	</adminhtml>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<EbayEnterprise_Display before="Mage_Adminhtml">EbayEnterprise_Display_Adminhtml</EbayEnterprise_Display>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<crontab>
		<jobs>
			<display_products_feed>
				<schedule><cron_expr>0 3 * * *</cron_expr></schedule>
				<run><model>display/products::export</model></run>
			</display_products_feed>
		</jobs>
	</crontab>
</config>
