<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2014 eBay Enterprise, Inc.

  NOTICE OF LICENSE

  This source file is subject to the eBay Enterprise
  Magento Extensions End User License Agreement
  that is bundled with this package in the file LICENSE.md.
  It is also available through the world-wide-web at this URL:
  http://www.ebayenterprise.com/files/pdf/Magento_Connect_Extensions_EULA_050714.pdf

  @copyright   Copyright (c) 2014 eBay Enterprise, Inc. (http://www.ebayenterprise.com/)
  @license     http://www.ebayenterprise.com/files/pdf/Magento_Connect_Extensions_EULA_050714.pdf  eBay Enterprise Magento Extensions End User License Agreement

-->
<config>
	<modules>
		<EbayEnterprise_Display>
			<version>1.0.0.0</version>
		</EbayEnterprise_Display>
	</modules>
	<default>
		<marketing_solutions>
			<eems_display>
				<!-- This value can be changed in admin interface: -->
				<product_feed_buffer>1024</product_feed_buffer>
				<!-- These are values you can change in the admin interface: -->
				<!-- Disabled by default: -->
				<enabled>0</enabled>
				<!-- Site Id provided by EEMS Display -->
				<site_id />
				<!-- Feed values you cannot change in the admin interface: -->
				<feed>
					<!-- Path is relative to Mage::getBase('var'); -->
					<file_path>eems_display</file_path>
					<image>
						<!-- As per spec, 150x150: -->
						<height>150</height>
						<width>150</width>
						<!-- 1 = do not distort, 150x150 is a constraint: -->
						<keep_aspect_ratio>1</keep_aspect_ratio>
					</image>
					<!-- Use to filter the number of character a product title should have in order to add the product to the feed -->
					<title_char_limit>50</title_char_limit>
					<header_columns>Id,Name,Description,Price,Special Price,Image URL,Page URL,Inventory</header_columns>
					<lock_file_name>eems_display_product_feed.lock</lock_file_name>
					<last_run_datetime/>
					<last_run_duration/>
					<admin_notice>
						<last_run_date_text>Feed last run date: %s</last_run_date_text>
						<last_run_duration_text>Feed Duration: %s minute(s)</last_run_duration_text>
						<never_run_text>Feed has never ran.</never_run_text>
						<lock_file_exist_text>A new product feed is currently being generated.</lock_file_exist_text>
						<lock_file_exist_button_text>Remove lock file</lock_file_exist_button_text>
						<remove_lock_file_text>Removing the lock file was a success</remove_lock_file_text>
						<fail_to_remove_lock_file_text>Lock file could not be removed</fail_to_remove_lock_file_text>
					</admin_notice>
				</feed>
				<!-- Installation Email -->
				<install_email>
					<name>dl-ebayent-displaysupport@ebay.com</name>
					<email>dl-ebayent-displaysupport@ebay.com</email>
				</install_email>
			</eems_display>
		</marketing_solutions>
	</default>
	<global>
		<template>
			<email>
				<eems_display_installed module="eems_display">
					<file>eemsdisplay_installed.html</file>
					<type>html</type>
				</eems_display_installed>
			</email>
		</template>
		<blocks>
			<eems_display>
				<class>EbayEnterprise_Display_Block</class>
			</eems_display>
		</blocks>
		<helpers>
			<eems_display>
				<class>EbayEnterprise_Display_Helper</class>
			</eems_display>
		</helpers>
		<models>
			<eems_display>
				<class>EbayEnterprise_Display_Model</class>
				<resourceModel>eems_display_resource</resourceModel>
			</eems_display>
			<eems_display_resource>
				<class>EbayEnterprise_Display_Model_Resource</class>
			</eems_display_resource>
		</models>
		<events>
			<eems_display_generate_product_feed_before>
				<observers>
					<eems_display_feed_lock_file_check>
						<class>eems_display/observer</class>
						<method>runCheckLockFile</method>
						<type>model</type>
					</eems_display_feed_lock_file_check>
				</observers>
			</eems_display_generate_product_feed_before>
			<eems_display_generate_product_feed_before>
				<observers>
					<eems_display_installation_email_alert>
						<class>eems_display/email</class>
						<method>sendInstalledNotification</method>
						<type>model</type>
					</eems_display_installation_email_alert>
				</observers>
			</eems_display_generate_product_feed_before>
			<eems_display_generate_product_feed_after>
				<observers>
					<eems_display_feed_lock_file_check>
						<class>eems_display/observer</class>
						<method>runLockFileRemoval</method>
						<type>model</type>
					</eems_display_feed_lock_file_check>
				</observers>
			</eems_display_generate_product_feed_after>
		</events>
	</global>
	<frontend>
		<layout>
			<updates>
				<eems_display>
					<file>eems_display.xml</file>
				</eems_display>
			</updates>
		</layout>
		<routers>
			<eems_display>
				<use>standard</use>
				<args>
					<module>EbayEnterprise_Display</module>
					<!--
						The frontName isn't particularly important.
						The Product Feed Url displayed for the End User to provide
						to EEMS Display comes here to figure it out.
						This is the only place you need to specify it.
					 -->
					<frontName>eems-dpf</frontName>
				</args>
			</eems_display>
		</routers>
	</frontend>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<EbayEnterprise_Display after="Mage_Adminhtml">EbayEnterprise_Display</EbayEnterprise_Display>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<translate>
			<modules>
				<EbayEnterprise_Display>
					<files>
						<default>EbayEnterprise_Display.csv</default>
					</files>
				</EbayEnterprise_Display>
			</modules>
		</translate>
		<layout>
			<updates>
				<eems_display>
					<file>eems_display/eems_display.xml</file>
				</eems_display>
			</updates>
		</layout>
	</adminhtml>
	<crontab>
		<jobs>
			<eems_display_products_feed>
				<schedule>
					<cron_expr>0 */3 * * *</cron_expr>
				</schedule>
				<run>
					<model>eems_display/observer::generateProductFeed</model>
				</run>
			</eems_display_products_feed>
		</jobs>
	</crontab>
	<phpunit>
		<suite>
			<modules>
				<EbayEnterprise_Display/>
			</modules>
		</suite>
	</phpunit>
</config>
